body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

h2 {
    margin-bottom: 1.5rem;
    font-weight: normal;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
    font-size: 0.9rem;
}

.input-group input[type="nome"],
.input-group input[type="email"],
.input-group input[type="password"],
.input-group input[type="whatsapp"],
.input-group input[type="cpf"],
.input-group input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-sizing: border-box;
    outline: none;
    background-color: #f0dada;
}

.input-group input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 0.5rem;
}

button {
    background-color: #f0dada;
    border: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0c0c0;
}

.links {
    margin-top: 1rem;
}

.links a {
    display: block;
    color: #666;
    text-decoration: none;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.links a:hover {
    text-decoration: underline;
}
